@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

body{
    background-color: #191c32;
    font-family: 'Montserrat', sans-serif;
}


#table-container{
    margin: 150px auto;
    width: 600px;
}

table{
    background-color: #2d325c;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

#num{
    font-weight: bold;
}

th, td{
    border: solid 1px #fff;
    padding: 2px;
    color: #fff;
}

thead{
    background-color: #FF00FF;
    border-bottom: solid 5px #fff ;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

tr:nth-child(even){
    background-color: #191c32;
}

tr:hover td{
    background-color: rgba(255, 255, 255, 0.164);
    color: white;
}

.btnBack{
    position: absolute; margin-top: -500px;
    padding: 10px 20px;
    margin-left: 12em;
    background-color: #FF00FF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btnBack:hover{
    background-color: rgb(255, 0, 255);
    box-shadow: 3px 3px 13px -5px rgba(255, 255, 255, 0.70);
}
